.text-area {
    text-area-background: black;
    -fx-font-size: 12;
}

.hbox {
    -fx-background-color: -fx-primary-color;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}
